@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
  --canvas: #051929;
  --primary: #2effc0;
  --secondary: #f9243a;
  --tertiary: var(--primary);
  --loader-dimensions: 100px;
}

body {
  align-items: center;
  background-color: var(--canvas);
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  height: 100vh;
  justify-content: center;;
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.loader {
  position: relative;
  width: var(--loader-dimensions);
}

.loader::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.loader .circle-wrap {
  position: absolute;
  top: 0;
}

.circle-wrap {
  animation: spin 1.3s linear infinite;
  height: 100%;
  width: 100%;
}

.circle-wrap--small {
  height: 40%;
  width: 40%;
  margin: 30%;
}

.circle-wrap--medium {
  height: 70%;
  width: 70%;
  margin: 15%;
}

.circle-wrap--ease {
  animation-timing-function: ease-in-out;
}

.circle-wrap--reverse {
  animation-name: spin-reverse;
}

.half-circle {
  align-items: flex-end;
  background-color: transparent;
  border: 0.5rem solid var(--canvas);
  border-bottom-left-radius: 1000px;
  border-right: none;
  border-top-left-radius: 1000px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 50%;
}

.half-circle::before,
.half-circle::after {
  background-color: var(--canvas);
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
  content: "";
  height: 0.5rem;
  left: 100px;
  margin-right: -0.25rem;
  margin-top: -0.5rem;
  width: 0.25rem;
}

.half-circle::after {
  margin-bottom: -0.5rem;
}

.half-circle.half-circle--tertiary {
  border-color: var(--tertiary);
}

.half-circle.half-circle--tertiary::before,
.half-circle.half-circle--tertiary::after {
  background-color: var(--tertiary);
}

.half-circle.half-circle--secondary {
  border-color: var(--secondary);
}

.half-circle.half-circle--secondary::before,
.half-circle.half-circle--secondary::after {
  background-color: var(--secondary);
}

.half-circle.half-circle--primary {
  border-color: var(--primary);
}

.half-circle.half-circle--primary::before,
.half-circle.half-circle--primary::after {
  background-color: var(--primary);
}

.tagline-wrap {
  align-self: flex-end;
}

.tagline-wrap__tagline {
  color: var(--primary);
  font-size: 2rem;
  margin: 0;
}

.tagline-wrap__tagline span {
  color: var(--secondary);
}

.tagline-wrap__byline {
  color: var(--secondary);
  font-size: 0.875rem;
  margin: 0;
  text-align: right;
}

@keyframes spin {
  100% { 
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  100% { 
    transform: rotate(-360deg);
  }
}
